#import <Foundation/Foundation.h>
{{#imports}}#import "{{import}}.h"
{{/imports}}
{{#models}}
{{#model}}
{{^parent}}
#import "SWGObject.h"
{{/parent}}
{{newline}}
@interface {{classname}} : {{^parent}}SWGObject{{/parent}}{{#parent}}{{parent}}{{/parent}}{{#hasInterfaces}}<{{#interfaces}}{{name}}{{#hasMoreInterfaces}}, {{/hasMoreInterfaces}}{{^hasMoreInterfaces}}>
																								{{/hasMoreInterfaces}}{{/interfaces}}{{/hasInterfaces}}
{{#vars}}
@property(nonatomic) {{datatype}} {{name}};  {{#description}}/* {{{description}}} {{#isNotRequired}}[optional]{{/isNotRequired}} */{{/description}}{{newline}}
{{/vars}}
{{#interfaces}}
{{#vars}}
@property(nonatomic) {{datatype}} {{name}};  {{#description}}/* {{{description}}} {{#isNotRequired}}[optional]{{/isNotRequired}} */{{/description}}{{newline}}
{{/vars}}
{{/interfaces}}
{{newline}}
{{#hasVars}}
- (id) {{#vars}}{{name}}: ({{datatype}}) {{name}}{{#hasMore}}
  {{/hasMore}}{{^hasMore}};{{/hasMore}}{{/vars}}{{/hasVars}}
- (id) initWithValues: (NSDictionary*)dict;
- (NSDictionary*) asDictionary;
{{newline}}
@end
{{/model}}
{{/models}}